.navbar{

height:80px;
display:flex;
align-items:center;
justify-content:space-between;

padding:0 70px;

background:white;

border-bottom:1px solid #e8eef5;

position:relative;
z-index:10;

}



.brand{

display:flex;
align-items:center;
gap:12px;

}



.logo-link{

font-size:25px;
font-weight:900;
color:#071433;
letter-spacing:-1px;

}



.brand span{

font-size:11px;
letter-spacing:3px;
color:#6b7280;

}



nav{

display:flex;
gap:45px;

}



nav a{

text-decoration:none;
font-weight:600;
color:#344054;

cursor:pointer;

position:relative;

}



nav a:hover{

color:#0097ff;

}



nav .active{

color:#0097ff;

}



nav .active::after{

content:"";

position:absolute;

bottom:-15px;

left:0;

width:100%;

height:3px;

background:#0097ff;

border-radius:10px;

}



.whatsapp{

border:none;

background:linear-gradient(
90deg,
#35d06f,
#08b7d8
);

color:white;

padding:14px 28px;

border-radius:30px;

font-weight:700;

}



.whatsapp:hover{

transform:translateY(-3px);

box-shadow:0 10px 25px #00aa8855;

}